.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo h1 {
  font-size: 1.5rem;
  color: #ffeb3b;
}

.nav-links a, .logout-btn {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffeb3b;
}

.logout-btn {
  background-color: #ff5722;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: black;
}
