
.book-event-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;  /* means shorthand property of flex-grow means how much space an element should take up in a container relative to other */
}

.book-event-container {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.sidebar {
  width: 250px;
}

footer {
  margin-top: auto;
}


.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #4a90e2;
  font-size: 28px;
  font-weight: 600;
}

.book-event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 6px;
  font-size: 16px;
  color: #333;
}

select, input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 100%;
}

select:focus, input:focus {
  border-color: #4a90e2;
  outline: none;
}

input[readonly] {
  background-color: #f5f5f5;
}

button.submit-btn {
  padding: 14px;
  background-color: #4a90e2;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-btn:hover {
  background-color: #357ABD;
}

.final-price-group {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}


@media screen and (max-width: 768px) {
  .book-event-container {
    margin: 0;
    padding: 20px;
  }
}
